@import 'https://fonts.google.com/specimen/Montserrat';
@import 'https://fonts.google.com/specimen/Fraunces';

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: black;
}

:root {
	--primary-color: hsl(158, 36%, 37%);
	--primary-bg: hsl(32, 37%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white:  hsl(0, 0%, 100%);
	--body-copy: 14px;
	--first-font: 'Montserrat';
	--second-font: 'Fraunces';
}

.container {
	display: grid;
	place-items: center;
	height: 100vh;
	background: var(--primary-bg);
}

.card {
	display: flex;
	width: 600px;
	height: 450px;
	background: var(--white);
	border-radius: 10px;
	overflow: hidden;
}

.image {
	width: 300px;
	overflow: hidden;
	object-fit: cover;
	background-size: contain;
	background-image: url('./images/image-product-desktop.jpg');
}

.content {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: start;
	padding: 30px;
	width: 300px;
	height: 100%;
}

.content > header {
	font-weight: 200;
	letter-spacing: 5px;
	font-size: 14px;
	color: var(--dark-grayish-blue);
}

.content > h1 {
	font-family: var(--first-font);
	color: var(--very-dark-blue);
	font-weight: 700;
	line-height: 30px;
}

.content > p {
	color: var(--dark-grayish-blue);
	line-height: 30px;
	font-size: var(--body-copy);
}

.price {
	display: flex;
	align-items: center;
}

.price > h1 {
	color: var(--primary-color);
	font-family: var(--second-font);
	font-weight: 700;
}

.price > h3 {
	color: var(--dark-grayish-blue);
	text-decoration: line-through;
	font-size: var(--body-copy);
	font-weight: 500;
	margin-left: 20px;
}

.actions > .btn {
	width: 230px;
	height: 40px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: var(--white);
	font-weight: 700;
	background: var(--primary-color);
}

.actions > .btn:hover {
	background: hsl(158, 38%, 20%);
}

.btn > i {
	color: var(--white);
	margin-right: 10px;
}

.attribution { 
	font-size: 11px; text-align: center;
}
.attribution > a {
	color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 600px) {
	.card {
		width: 340px;
		height: 95%;
		flex-flow: column;
	}

	.image {
		width: 100%;
		height: 280px;
		object-fit: cover;
	    background-size: cover;
		background-position: center;
	}

	.content > h1 {
		font-size: 27px
	}

	.content {
		height: 400px;
	}

	.price > h3 {
		margin-left: 10px;
	}

}